In [254]:
# TODO: Need DXY (US Dollar) monthly data
# TODO: US10yr Treasury Maturity Rate - Need to replace with monthly data
# TODO: BUND Monthy data 
# XLK: Tech Monthly data - ETF
# XLF: Finance Monthly data - ETF
# BTC: Monthly data - ETF

!pip install investpy
!pip install yfinance
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import pandas_datareader as pdr
import investpy

# Setting up the Start and End time 
# series_code = ['CURRCIR', 'DGS10']
data_source = 'fred'

start = datetime.datetime (1960, 1, 1)      #  (2005, 5, 1)
end = datetime.datetime (2030, 12, 1)

CPI_Headline = pdr.DataReader('CPIAUCSL', data_source, start, end)
CPI_Headline.columns = ['CPI_Headline']

# TODO: DAILY DATA - Need to replace with monthly data
US10yr = pdr.DataReader('DGS10', data_source, start, end)
US10yr.columns = ['US10yr']

# TODO: Need DXY (US Dollar) monthly data
# TODO: BUND Monthy data 

copperProducts = pdr.DataReader('WPUSI019011', data_source, start, end)
copperProducts.columns = ['Copper/Prod']
iron_steel = pdr.DataReader('WPU101', data_source, start, end)
iron_steel.columns = ['Iron/Steel']
chemical_man = pdr.DataReader('PCU325325', data_source, start, end)
chemical_man.columns = ['ChemMan']
con_mach_eq = pdr.DataReader('WPS112', data_source, start, end)
con_mach_eq.columns = ['ConMachEq']

fed_fundsRate = pdr.DataReader('FEDFUNDS', data_source, start, end)
fed_fundsRate.columns = ['FedFundsRate']

Requirement already satisfied: investpy in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (1.0.3)
Requirement already satisfied: pytz>=2019.3 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (2021.1)
Requirement already satisfied: Unidecode>=1.1.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (1.2.0)
Requirement already satisfied: numpy>=1.17.2 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (1.20.1)
Requirement already satisfied: setuptools>=41.2.0 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (52.0.0)
Requirement already satisfied: lxml>=4.4.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (4.6.2)
Requirement already satisfied: requests>=2.22.0 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (2.25.1)
Requirement already satisfied: pandas>=0.25.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from investpy) (1.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from pandas>=0.25.1->investpy) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.22.0->investpy) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.22.0->investpy) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.22.0->investpy) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: yfinance in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (0.1.55)
Requirement already satisfied: lxml>=4.5.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from yfinance) (4.6.2)
Requirement already satisfied: pandas>=0.24 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from yfinance) (1.2.2)
Requirement already satisfied: requests>=2.20 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dabor\.virtualenvs\dabor-cdjjwqgy\lib\site-packages (from requests>=2.20->yfinance) (1.26.3)

In [171]:
"""Need to turn oil, gold , and silver into monthly 
as well as use gold and silver as a ratio"""

gold = investpy.commodities.get_commodity_historical_data('Gold', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
silver = investpy.commodities.get_commodity_historical_data('Silver', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
copper = investpy.commodities.get_commodity_historical_data('Copper', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country='united states', 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
lumber = investpy.commodities.get_commodity_historical_data('Lumber', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
nat_gas = investpy.commodities.get_commodity_historical_data('Natural Gas', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
crude = investpy.commodities.get_commodity_historical_data('Crude Oil WTI', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
corn = investpy.commodities.get_commodity_historical_data('US Corn', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
wheat = investpy.commodities.get_commodity_historical_data('US Wheat', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
soy = investpy.commodities.get_commodity_historical_data('US Soybeans', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')

sugar = investpy.commodities.get_commodity_historical_data('US Sugar #11', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')
coffee = investpy.commodities.get_commodity_historical_data('US Coffee C', 
                                                   from_date = '01/01/1980', 
                                                   to_date = '01/01/2030', 
                                                   country=None, 
#                                                    as_json=False, 
                                                   order='ascending', 
                                                   interval='Monthly')

In [172]:
silver.tail()

              Open    High     Low   Close   Volume Currency
Date
2020-10-01  23.520  25.855  22.805  23.799    62960      USD
2020-11-01  23.785  26.270  21.960  22.593   394634      USD
2020-12-01  22.700  27.635  22.665  26.412  1563622      USD
2021-01-01  26.525  29.223  24.220  26.914   187559      USD
2021-02-01  28.810  30.310  25.955  28.095    96257      USD

In [173]:
# Dropping columns

drop_cols = ['Open', 'High', 'Low', 'Currency']

gold = gold.drop(drop_cols, axis=1)
gold.columns = ["Gold", "GoldVolm"]
silver = silver.drop(drop_cols, axis=1)
silver.columns = ["Silver", "SilverVolm"]

tempMerge = pd.merge(silver, gold, left_index=True, right_index=True)
tempMerge['sil_goldRatio'] = tempMerge["Silver"] / tempMerge["Gold"]
sil_goldRatio = tempMerge.copy()
sil_goldRatio = sil_goldRatio.drop(["Silver", "Gold"], axis=1)
sil_goldRatio['DiffSilGold_Volm'] = sil_goldRatio['GoldVolm'] - sil_goldRatio['SilverVolm'] 

sil_goldRatio.columns = ["SilverVolm", "GoldVolm", "Sil_GoldRatio", "DiffSilGold_Volm"]
copper = copper.drop(drop_cols, axis=1)
copper.columns = ["Copper", "CopperVolm"]
lumber = lumber.drop(drop_cols, axis=1)
lumber.columns = ["Lumber", "LumberVolm"]
nat_gas = nat_gas.drop(drop_cols, axis=1)
nat_gas.columns = ["NatGas", "NatGasVolm"]
crude = crude.drop(drop_cols, axis=1)
crude.columns = ["WTIcrude", "CrudeVolm"]
corn = corn.drop(drop_cols, axis=1)
corn = corn.drop(["Volume"], axis = 1)
corn.columns = ["Corn"]
wheat = wheat.drop(drop_cols, axis=1)
wheat = wheat.drop(["Volume"], axis=1)
wheat.columns = ["Wheat"]
soy = soy.drop(drop_cols, axis=1)
soy = soy.drop(["Volume"], axis=1)                    
soy.columns = ["Soy"]
sugar = sugar.drop(drop_cols, axis=1)
sugar.columns = ["Sugar", "SugarVolm"]
coffee = coffee.drop(drop_cols, axis=1)
coffee.columns = ["Coffee", "CoffeeVolm"]

In [175]:
sil_goldRatio.tail()

            SilverVolm  GoldVolm  Sil_GoldRatio  DiffSilGold_Volm
Date
2020-10-01       62960    110003       0.012611             47043
2020-11-01      394634   1210884       0.012686            816250
2020-12-01     1563622   3694178       0.013937           2130556
2021-01-01      187559    276173       0.014546             88614
2021-02-01       96257    251783       0.015636            155526

In [191]:
def roc(df, n):
    df1 = df.copy()
    df1 = (np.log(df1).diff(n))
    df1 = df1 - (df1.shift(1))
    df1 = df1 * 100
    return df1

In [243]:
sil_gold_roc = roc(sil_goldRatio, 12)
print("Max:", sil_gold_roc['Sil_GoldRatio'].max())
sil_gold_roc.tail(15)

Max: 0.025493358456573276

            SilverVolm   GoldVolm  Sil_GoldRatio  DiffSilGold_Volm
Date
2019-12-01     22929.0       88.0      -0.000463          -22841.0
2020-01-01      1169.0    11557.0      -0.000509           10388.0
2020-02-01    -17377.0     -455.0      -0.000576           16922.0
2020-03-01      8629.0      635.0      -0.001636           -7994.0
2020-04-01    -19315.0      339.0      -0.000446           19654.0
2020-05-01     -6420.0     6632.0       0.002144           13052.0
2020-06-01     40868.0    17151.0       0.000093          -23717.0
2020-07-01    -83689.0    30967.0       0.001407          114656.0
2020-08-01     83363.0    11841.0       0.001593          -71522.0
2020-09-01     49520.0   -20002.0      -0.001634          -69522.0
2020-10-01    -33525.0    50661.0      -0.000215           84186.0
2020-11-01    373139.0  1100215.0       0.000414          727076.0
2020-12-01   1168975.0  2483327.0       0.001160         1314352.0
2021-01-01  -1376066.0 -3429814.0       0.000997        -2053748.0
2021-02-01    -91840.0   -23958.0       0.001945           67882.0

In [240]:
FedFunds_roc = roc(fed_fundsRate, 12)
print("Max:", FedFunds_roc.max())
FedFunds_roc.tail(15)

Max: FedFundsRate    9.43
dtype: float64

            FedFundsRate
DATE
2019-11-01         -0.29
2019-12-01         -0.07
2020-01-01         -0.13
2020-02-01          0.03
2020-03-01         -0.94
2020-04-01         -0.61
2020-05-01          0.03
2020-06-01          0.04
2020-07-01         -0.01
2020-08-01          0.28
2020-09-01          0.08
2020-10-01          0.21
2020-11-01          0.28
2020-12-01          0.00
2021-01-01          0.00

In [239]:
lumber_roc = roc(lumber, 12)
print("Max:", lumber_roc.max())
lumber_roc.tail(15)

Max: Lumber          311.6
LumberVolm    27347.0
dtype: float64

            Lumber  LumberVolm
Date
2019-12-01   -19.9       296.0
2020-01-01   -53.5     -2204.0
2020-02-01    -5.5      4046.0
2020-03-01   -95.5     -2377.0
2020-04-01    60.2     -4486.0
2020-05-01    83.1      1360.0
2020-06-01    -4.8      -284.0
2020-07-01   185.1      4009.0
2020-08-01   311.6      3648.0
2020-09-01  -308.4     -4342.0
2020-10-01  -145.7     -2433.0
2020-11-01   120.8       924.0
2020-12-01   247.6      1575.0
2021-01-01   -16.3     -4127.0
2021-02-01   159.9     -4695.0

In [238]:
CPI_Head_roc = roc(CPI_Headline, 12)
print("Max:", CPI_Head_roc.max())
CPI_Head_roc.tail(15)

Max: CPI_Headline    4.567
dtype: float64

            CPI_Headline
DATE
2019-11-01         0.679
2019-12-01         0.543
2020-01-01         0.536
2020-02-01        -0.391
2020-03-01        -2.013
2020-04-01        -2.976
2020-05-01        -0.295
2020-06-01         1.288
2020-07-01         0.820
2020-08-01         0.714
2020-09-01         0.224
2020-10-01        -0.542
2020-11-01        -0.137
2020-12-01         0.419
2021-01-01         0.187

In [237]:
corn_roc = roc(corn, 12)
print("Max:", corn_roc.max())
corn_roc.tail(15)

Max: Corn    235.75
dtype: float64

             Corn
Date
2019-12-01   8.00
2020-01-01  -8.00
2020-02-01  -0.25
2020-03-01 -20.25
2020-04-01 -26.00
2020-05-01 -59.50
2020-06-01  19.50
2020-07-01  -2.50
2020-08-01  74.75
2020-09-01   0.50
2020-10-01  17.50
2020-11-01  40.00
2020-12-01  47.75
2021-01-01  69.50
2021-02-01  23.65

In [236]:
wheat_roc = roc(wheat, 12)
print("Max:", wheat_roc.max())
wheat_roc.tail(15)

Max: Wheat    300.0
dtype: float64

            Wheat
Date
2019-12-01  29.76
2020-01-01 -19.50
2020-02-01  29.62
2020-03-01  42.75
2020-04-01 -14.75
2020-05-01 -77.76
2020-06-01 -51.99
2020-07-01  79.75
2020-08-01  40.62
2020-09-01  -2.50
2020-10-01   7.13
2020-11-01 -50.87
2020-12-01  43.49
2021-01-01  26.87
2021-02-01  45.61

## These seem to be leading indicators of Headline CPI

In [253]:
con_mach_eq_roc = roc(con_mach_eq, 12)
print("Max:", con_mach_eq_roc.max())
con_mach_eq_roc.tail(15)

Max: ConMachEq    3.1
dtype: float64

            ConMachEq
DATE
2014-10-01       -0.3
2014-11-01        0.5
2014-12-01       -0.1
2015-01-01        0.2
2015-02-01       -0.5
2015-03-01        0.0
2015-04-01       -0.6
2015-05-01        0.1
2015-06-01       -0.3
2015-07-01        0.2
2015-08-01       -0.1
2015-09-01        0.3
2015-10-01       -0.1
2015-11-01       -0.3
2015-12-01        0.3

In [252]:
chemicalManuf_roc = roc(chemical_man, 12)
print("Max:", chemicalManuf_roc.max())
chemicalManuf_roc.tail(15)

Max: ChemMan    6.7
dtype: float64

            ChemMan
DATE
2019-11-01     -1.5
2019-12-01     -0.8
2020-01-01      0.4
2020-02-01      0.8
2020-03-01     -1.0
2020-04-01     -3.6
2020-05-01     -1.3
2020-06-01      0.5
2020-07-01      0.9
2020-08-01      2.8
2020-09-01      1.2
2020-10-01      2.0
2020-11-01      1.3
2020-12-01      3.2
2021-01-01      3.1

In [247]:
crude_roc = roc(crude, 12)
print("Max:", crude_roc['WTIcrude'].max())
crude_roc.tail(15)

Max: 39.22

            WTIcrude   CrudeVolm
Date
2019-12-01     11.41   2750772.0
2020-01-01    -17.88   1423067.0
2020-02-01    -10.23   4257972.0
2020-03-01    -27.20   1934271.0
2020-04-01     -5.41  -3497181.0
2020-05-01     27.06 -11560804.0
2020-06-01     -1.19   5514999.0
2020-07-01      0.89   -186512.0
2020-08-01      5.82  -2655903.0
2020-09-01     -1.36   1337285.0
2020-10-01     -4.54   2127065.0
2020-11-01      8.56   1391823.0
2020-12-01     -2.71   -427962.0
2021-01-01     13.18  -8892519.0
2021-02-01     17.73  -1099594.0

In [250]:
ironSteel_roc = roc(iron_steel, 12)
print("Max:", ironSteel_roc.max())
ironSteel_roc.tail(15)

Max: Iron/Steel    40.4
dtype: float64

            Iron/Steel
DATE
2019-11-01        -3.9
2019-12-01         3.1
2020-01-01        10.2
2020-02-01         1.7
2020-03-01        -1.4
2020-04-01        -1.3
2020-05-01         3.0
2020-06-01         7.3
2020-07-01         3.0
2020-08-01        -1.4
2020-09-01        10.3
2020-10-01         7.2
2020-11-01         5.2
2020-12-01        14.0
2021-01-01        13.7

In [245]:
sil_gold_roc = roc(sil_goldRatio, 12)
print("Max:", sil_gold_roc['Sil_GoldRatio'].max())
sil_gold_roc.tail(25)

Max: 0.025493358456573276

            SilverVolm   GoldVolm  Sil_GoldRatio  DiffSilGold_Volm
Date
2019-02-01     -6972.0    -9604.0       0.000171           -2632.0
2019-03-01     18116.0     9507.0       0.000154           -8609.0
2019-04-01     -1577.0     -129.0       0.000310            1448.0
2019-05-01     22700.0     -126.0      -0.000745          -22826.0
2019-06-01    -64358.0       68.0      -0.000545           64426.0
2019-07-01    117285.0      -75.0       0.000760         -117360.0
2019-08-01    -68718.0       26.0       0.001033           68744.0
2019-09-01    -20369.0      -33.0      -0.000649           20336.0
2019-10-01     44440.0        9.0       0.000888          -44431.0
2019-11-01    -65242.0      634.0      -0.000196           65876.0
2019-12-01     22929.0       88.0      -0.000463          -22841.0
2020-01-01      1169.0    11557.0      -0.000509           10388.0
2020-02-01    -17377.0     -455.0      -0.000576           16922.0
2020-03-01      8629.0      635.0      -0.001636           -7994.0
2020-04-01    -19315.0      339.0      -0.000446           19654.0
2020-05-01     -6420.0     6632.0       0.002144           13052.0
2020-06-01     40868.0    17151.0       0.000093          -23717.0
2020-07-01    -83689.0    30967.0       0.001407          114656.0
2020-08-01     83363.0    11841.0       0.001593          -71522.0
2020-09-01     49520.0   -20002.0      -0.001634          -69522.0
2020-10-01    -33525.0    50661.0      -0.000215           84186.0
2020-11-01    373139.0  1100215.0       0.000414          727076.0
2020-12-01   1168975.0  2483327.0       0.001160         1314352.0
2021-01-01  -1376066.0 -3429814.0       0.000997        -2053748.0
2021-02-01    -91840.0   -23958.0       0.001945           67882.0

In [234]:
copperProd_roc = roc(copperProducts, 12)
print("Max:", copperProd_roc.max())
copperProd_roc.tail(15)

Max: Copper/Prod    93.9
dtype: float64

            Copper/Prod
DATE
2019-11-01          5.5
2019-12-01          3.9
2020-01-01          9.4
2020-02-01        -25.4
2020-03-01        -16.6
2020-04-01        -20.1
2020-05-01         16.5
2020-06-01         28.8
2020-07-01         21.0
2020-08-01         20.6
2020-09-01          5.4
2020-10-01          2.6
2020-11-01          4.0
2020-12-01         23.6
2021-01-01         10.6

In [177]:
# Merging Inflation 'Possible' Factors - Commodities

inflation_factors  = pd.merge(sil_goldRatio, copper, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, lumber, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, nat_gas, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, crude, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, corn, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, wheat, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, soy, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, sugar, left_index=True, right_index=True)
inflation_factors  = pd.merge(inflation_factors, coffee, left_index=True, right_index=True)

print(inflation_factors.shape)
inflation_factors.tail()

(370, 19)

,SilverVolm,GoldVolm,Sil_GoldRatio,DiffSilGold_Volm,Copper,CopperVolm,Lumber,LumberVolm,NatGas,NatGasVolm,WTIcrude,CrudeVolm,Corn,Wheat,Soy,Sugar,SugarVolm,Coffee,CoffeeVolm
Date,,,,,,,,,,,,,,,,,,,
2020-10-01,62960,110003,0.012611,47043,3.0525,189896,495.6,4916,3.354,3125451,35.79,7349711,398.50,598.50,1056.88,14.36,1191631,104.40,388627
2020-11-01,394634,1210884,0.012686,816250,3.4380,549578,636.8,2761,2.882,2365599,45.34,6658120,419.75,581.00,1168.75,14.51,989213,120.70,269567
2020-12-01,1563622,3694178,0.013937,2130556,3.5190,1320679,873.1,5888,2.539,2860731,48.52,6026191,484.00,641.75,1310.25,15.49,875478,128.25,104837
2021-01-01,187559,276173,0.014546,88614,3.5560,94560,887.0,266,2.564,133177,52.20,410914,547.00,662.62,1364.38,15.83,1061857,122.95,385667
2021-02-01,96257,251783,0.015636,155526,4.3407,70722,1010.8,297,2.792,67064,63.13,102427,555.90,680.10,1430.62,18.16,35604,135.65,113